:root {
  --bg-color: #f9f9ff;
  --text-color: #111c2d;
  --product-bg-color : white;
  --product-color : '#111c2d';
  --border : 2px solid #f4f5fc;
  --border-2 : 2px solid #00a571;
  --component-bg : #f0f3ff;
  --dark-bg : #dee8ff;
  --btn-border : 1.5px solid #dee8ff;
  --pending : #fabd21;
  --onway : #00a571;
  --delivered : #cad4e0;
}

[data-theme='dark'] {
  --bg-color: #020617;
  --text-color: #94a3b8;
  --product-bg-color : #0f172a;
  --product-color : '#ffffff';
  --border : none;
  --component-bg : #080f20;
  --dark-bg : #0f172a;
  --btn-border : 1.5px solid #161f32;
  --delivered : #94a3b8;
}

/*  */

.manage-orders-container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.orders-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.default-container{
    width: 100%;
    height: auto;
}

.order-box-container *{
    background-color: var(--product-bg-color) !important;
}
.order-box-container{
    height: fit-content;
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--product-bg-color) !important;
}

.order-box-container.Pending {
    border-left: 3px solid var(--pending);
}
.order-box-container.OnWay {
    border-left: 3px solid var(--onway);
}

.order-box-icon {
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    border-radius: 50%;
    display: inline-block;
}

.order-box-icon.Pending{
    background-color: var(--pending) !important;
}

.order-box-icon.OnWay{
    background-color: var(--onway) !important;
}

.order-box-icon.Delivered{
    background-color: var(--delivered) !important;
}

.order-box-container.Pending i {
    color: var(--pending);
}

.order-box-container.OnWay i {
    color: var(--onway);
}

.boxStatus {
    border: var(--btn-border) !important;
}

.order-box-container.Delivered i {
    color: var(--delivered);
}

.deleteIcon *{
    color: var(--delivered) !important;
    cursor: pointer;
    transition: color 0.25s ease;
}

.deleteIcon:hover:not(:disabled) *{
    color: #dc3545 !important;
}

.deleteIcon:disabled *{
    color: var(--delivered) !important;
    cursor: not-allowed;
}

.admin-order-status, .admin-order-status:active, .admin-order-status:focus {
    border: var(--btn-border) !important;
    cursor: pointer;
    max-width: 80%;
    background-color: var(--component-bg) !important;
    color: var(--text-color);
}

.manage-order-header i{
    cursor: pointer;
    transition: color 0.2s ease;
}

.manage-order-header i:hover {
    color: #00a571 !important;
}

.default-container .Delivered * {
    color: #94a3b8 !important;
}


/*  */

.manage-admins-container{
    max-width: 800px;
    margin: auto;
    transform: translateY(20%);
}

.admin-activity{
    position: relative;
    left: 30px;
    bottom: 15px;
    border: 2px solid var(--component-bg);
    padding: 5px;
}

.admin-row-container, .admin-row-container * {
    background-color: var(--product-bg-color);
}

.admin-lists{
    max-height: 400px;
    overflow-y: scroll;
}

.data-list{
    width: 100%;
    z-index: 999;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--component-bg);
}

.admin-search-row{
    background-color: var(--product-bg-color);
}

.promoteBtn *{
    background-color: transparent;
}

.promoteBtn {
    cursor: pointer;
    padding:5px 10px ;
    border-radius: 5px;
    transition: color 0.1s ease;
}

.promoteBtn:disabled {
    cursor: not-allowed;
    color: var(--delivered) !important;
    background-color: var(--bg-color);
}

.promoteBtn:disabled *{
    color: var(--text-color) !important;
    background-color: var(--component-bg);
}


.promoteBtn:hover , .promoteBtn:hover *{
    color: #00a571;
}

.data-list-bg{
    opacity: 0%;
    position: absolute;
    z-index: 998;
    width: 100vw;
    height: 100vh;
    left: -70%;
    top: -20%;
}

.emptyAdminRow{
    background-color: var(--product-bg-color);
}


.search-bar input , .search-bar input:focus{
    border: var(--btn-border);
    background-color: var(--component-bg);
    color: var(--text-color);
}

.search-bar label{
    color: var(--text-color);
}

.order-page-header-end{
    width: fit-content;
    background-color: var(--component-bg);
    padding: 0.5rem;
    border-radius: 5px;
}

.order-page-header-end a{
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.order-page-header-end a:hover{
    background-color: var(--dark-bg);
    border-radius: 5px;
}

.order-page-header-end .active-order {
    color: #00a571;
    font-weight: 500;
    background-color: var(--product-bg-color);
    border-radius: 5px;
}

.order-page-header-start button , .order-page-header-start button * {
    color: var(--text-color);
}

.order-page-placeholder{
    display: flex;
    justify-content: space-between;
    background-color: var(--component-bg) !important;
}

.order-page-placeholder * {
    background-color: var(--component-bg) !important;
}

.order-page-placeholder div{
    display: flex;
    align-items: center;
}

.order-page-placeholder span{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.order-page-placeholder-start{
    width: 21rem;
    justify-content: space-between;
    align-items: start;
    margin-left: 1rem;
}

.order-page-placeholder-end{
    width: 16rem;
    justify-content: space-between;
}

.order-page-placeholder-end span{
    width: auto;
    margin: auto;
}
.orders-page-main , .orders-page-main *{
    background-color: var(--product-bg-color);
}

.admin-order-status{
    width: 130px;
}

.orders-page-header-buttons{
    display: flex;
    align-items: center;
}

/*  */

.manage-reports-main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8996ab;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.userInitials{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--product-bg-color);
    color: #10b981 !important;
}

.report-container{
    background-color: var(--product-bg-color);
}

.report-container *{
    background-color: var(--product-bg-color);
}

.report-container i{
    background-color: transparent;
}

.report-end button{
    background-color: var(--component-bg);
}

.replyBtn i{
    color: var(--text-color);
}

.deleteBtn i{
    color: #dc3545 !important;
}

.report-end button:hover{
    background-color: var(--dark-bg);
}

/* .resolvedAction  */

.asignToMe{
    color: #00a571;
    cursor: pointer;
}

.asignToMe:hover{
    text-decoration: underline;
}

.resolvedAction{
    background-color:#76face;
    color: #10b981;
}

.pendingAction{
    background-color: #fef3c7;
    color: #b85b13;
}
.toggle-report-button{
    display: none;
}

.type{
    background-color: var(--component-bg);
    text-align: center;
}

.status{
    display: flex;
    gap: 5px;
    align-items: center;
}

.status.Sent, .statusDot{
    color: #10b981;
}
.statusDot{
    font-size: 8px;
}
.status.Responded{
    color: var(--delivered);
}

.admin-feedback-container, .admin-feedback-container * , .admin-feedback-container div{
    background-color: var(--product-bg-color) !important;
}
.manage-feedbacks-main{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.admin-feedback-container{
    width: 100%;
    height: auto;
}

.admin-feedback-bottom{
    border-top: var(--btn-border);
}

.comment{
    color: #8996ab;
}

.stars i {
    color: #10b981;
}

/*  */


.chart-dashboard-container {
    width: 100%;
    overflow-x: hidden; 
}
/*  */


.charts-header-end{
    width: fit-content;
    background-color: var(--component-bg);
    padding: 0.5rem;
    border-radius: 5px;
}

.charts-header-end button{
    font-weight: 500;
    font-size: 14px !important;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.charts-header-end button:hover{
    background-color: var(--dark-bg);
    border-radius: 5px;
}

.charts-header-end .active {
    color: #00a571;
    font-weight: 500;
    background-color: var(--product-bg-color);
    border-radius: 5px;
}

.charts-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.charts-header-start i{
    color: #10b981;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    .chart-dashboard-container {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .chart-dashboard-inner-container {
        min-width: 900px;
    }
}

@media (max-width : 758px){
    .admin-order-top{
        display: flex;
    }

    .admin-order-top div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .admin-order-end {
        justify-content: end;
        align-items: end;
        display: flex;
        flex-direction: row !important;
        width: fit-content;
    }
    .admin-order-end *{
        align-items: end;
        width: fit-content;
        align-items: end !important;
    }
    .admin-order-buttons{
        display: flex !important;
        flex-direction: row !important;
        width: fit-content !important;
    }

    .toggle-report-button{
        display: flex;
    }

    .report-top {
        display: flex;
        gap: 2rem;
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .report-user-initials{
        display: flex;
        justify-content: space-between;
    }

    .report-end{
        display: none !important;
    }
}   



@media (max-width : 518px){
    .admin-order-top{
        display: flex !important;
        flex-direction: column !important;
        gap: 2rem;
        justify-content: center;
        align-items: start !important;
    }

    .admin-order-status{
        width: 100%;
        height: auto;
    }

    .admin-order-end {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .admin-order-end div {
        display: flex !important;
        align-items: start !important;
    }

    .charts-header{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}


@media (max-width : 468px){

    .user-data{
        display: flex;
        flex-direction: column;
        align-items: start !important;
        gap: 15px !important;
        justify-content: start !important;
        margin: 0px !important;
    }

    .report-bottom-resolution{
        display: flex;
        flex-direction: column;
        align-items: start !important;
        gap: 10px;
        margin-top: 15px;
    }
    
    .orders-page-header-buttons{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap:1rem;
    }
    .order-page-header-end {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .order-page-header-end a {
        width: 100%;
        text-align: center;
    }
}