
/* defining styling variables for dark/light themes */

:root {
  --bg-color: #f9f9ff;
  --text-color: #111c2d;
  --product-bg-color : white;
  --product-color : '#111c2d';
  --border : 2px solid #f4f5fc;
  --border-2 : 2px solid #00a571;
  --component-bg : #f0f3ff;
  --dark-bg : #dee8ff;
  --btn-border : 1.5px solid #dee8ff
}

[data-theme='dark'] {
  --bg-color: #020617;
  --text-color: #94a3b8;
  --product-bg-color : #0f172a;
  --product-color : '#ffffff';
  --border : none;
  --component-bg : #080f20;
  --dark-bg : #0f172a;
  --btn-border : 1.5px solid #161f32
}

.auth-container{
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: var(--component-bg);
}

.auth-container input , .auth-container input:active , .auth-container input:focus , .auth-container select , .auth-container select:focus , .auth-container select:active {
    color: var(--text-color);
    background-color: var(--dark-bg);
    border: var(--btn-border);
}

.auth-container form div {
    background-color: transparent !important;
    height: 90px;
    align-items: start;
}

.number-group{
    height: 100px !important;
}

.number-group div {
    height: 60px !important;
    margin: 0px !important;
}

.showBtn {
    height: 58px;
    border-top: var(--btn-border) !important;
    border-right: var(--btn-border) !important;
    border-bottom: var(--btn-border) !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.auth-container label{
    color: var(--text-color);
}

.showBtn {
    border: var(--btn-border) !important;
    background-color: var(--dark-bg) !important;
}

.showBtn.isInvalid {
    border-top: 1px solid #dc3545 !important;
    border-right: 1px solid #dc3545 !important;
    border-bottom:1px solid #dc3545 !important;
    color: #dc3545 !important;
}

.showBtn.isInvalid i {
    color: #dc3545;
}

.auth-container input::placeholder , .auth-container select::placeholder{
    color: var(--text-color) !important;
}

.auth-container input, .auth-container select {
    cursor: pointer;
} 

.auth-container a {
    transition: all 0.2s ease;
    text-decoration: none;
    color: var(--text-color);
}

.auth-container a:hover{
    text-decoration: underline;
    color: #10b981;
}

.submitBtn{
    height: 50px;
    background-color: #10b981 !important;
    color: white !important;
    font-weight: 500;
    margin-bottom: 25px;
}

.errorMessage {
    color: #dc3545 !important;
}