:root {
  --bg-color: #f9f9ff;
  --text-color: #111c2d;
  --product-bg-color : white;
  --product-color : '#111c2d';
  --border : 2px solid #f4f5fc;
  --border-2 : 2px solid #00a571;
  --component-bg : #f0f3ff;
  --dark-bg : #dee8ff;
  --btn-border : 1.5px solid #dee8ff
}

[data-theme='dark'] {
  --bg-color: #020617;
  --text-color: #94a3b8;
  --product-bg-color : #0f172a;
  --product-color : '#ffffff';
  --border : none;
  --component-bg : #080f20;
  --dark-bg : #0f172a;
  --btn-border : 1.5px solid #161f32
}


.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-wrapper input {
  display: none;
}

.custom-box {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: var(--border-2);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--component-bg);
  position: relative;
}

.checkmark {
  color: white;
  font-size: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  opacity: 0;
  transition: opacity 0.15s ease;
}

.checkbox-wrapper input:checked + .custom-box {
  background: #10b981;
  border-color: #10b981;
}

.checkbox-wrapper input:checked + .custom-box .checkmark {
  opacity: 1;
}