
/* defining styling variables for dark/light themes */

:root {
  --bg-color: #f9f9ff;
  --text-color: #111c2d;
  --product-bg-color : white;
  --product-color : '#111c2d';
  --border : 2px solid #f4f5fc;
  --border-2 : 2px solid #00a571;
  --component-bg : #f0f3ff;
}

[data-theme='dark'] {
  --bg-color: #020617;
  --text-color: #94a3b8;
  --product-bg-color : #0f172a;
  --product-color : '#ffffff';
  --border : none;
  --component-bg : #080f20;
}

.user-container{
    background: var(--component-bg);
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-container div {
    background-color: var(--component-bg);
}

.icon-bg {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  background: rgba(16, 185, 129, 0.15) !important;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-bg i {
  font-size: 28px;
  color: #10b981;
  line-height: 1;
}

.user-row {
    padding: 0.3rem 0rem;
}

.user-row span{
    font-weight: 500;
    font-size: 15px;
    color: #10b981;
}

.user-row h6{
    font-size: 20px;
}

.logoutBtn i {
    color: #dc3545;
}

.logoutBtn {
    color: #dc3545;
    border: 2px solid #dc354526;
}

.logoutBtn:hover{
    background-color: #dc3545;
    color: white;
}
.logoutBtn:hover i {
    color: white !important;
}
/*  */


.card-holder-container{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem !important;
}

.card-container *{
    color: white;
    background-color:#161f32;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color:#161f32;
}

.card-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardIcon i{
    font-size: 22px;
    color: #10b981;
}

.card-row{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-row span {
    color: #10b981;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.card-row span:hover {
    color: #00a571;
    text-decoration:underline ;
}

@media (max-width: 768px) {
    .user-container{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
}