
/* defining styling variables for dark/light themes */

:root {
  --bg-color: #f9f9ff;
  --text-color: #111c2d;
  --product-bg-color : white;
  --product-color : '#111c2d';
  --border : 2px solid #f4f5fc;
  --border-2 : 2px solid #00a571;
  --component-bg : #f0f3ff;
}

[data-theme='dark'] {
  --bg-color: #020617;
  --text-color: #94a3b8;
  --product-bg-color : #0f172a;
  --product-color : '#ffffff';
  --border : none;
  --component-bg : #080f20;
}

/* styling elements based on theme mode */

body {
  width: 100%;
  height: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
}

div {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul, li {
  list-style-type: none;
  border-color: var(--text-color);
}

i , small, a, span , strong{
  color:  var(--text-color);
}

.bg {
  cursor: pointer;
  position: absolute;
  inset: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: backdropFade 0.25s ease forwards;
  z-index: 1000;
}