:root {
  --bg-color: #f9f9ff;
  --text-color: #111c2d;
  --product-bg-color : white;
  --product-color : '#111c2d';
  --border : 2px solid #f4f5fc;
  --border-2 : 2px solid #00a571;
}

[data-theme='dark'] {
  --bg-color: #020617;
  --text-color: #94a3b8;
  --product-bg-color : #0f172a;
  --product-color : '#ffffff';
  --border : none
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

div {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul, li {
  list-style-type: none;
  border-color: var(--text-color);
}

.product-container , .more-button, .more, .more button:focus , .more button:active, .support-chat-container {
  border: var(--border);
}
.support-chat-container div{
  border-bottom: var(--border);
}
.support-chat-header div , .support-chat-header{
  background-color: var(--product-bg-color);
  padding: 5px;
}

#message{
  background-color: var(--product-bg-color) ;
  color: var(--product-color);
}
.avalability{
  background-color: var(--bg-color);
}
.product-container, .product-container div {
  background-color: var(--product-bg-color);
}
.product-main{
  color: var(--text-color);
}
.headerSearchInput , .headerSearchInput input , .headerSearchInput i, .headerSearchInput span , .headerSearchInput ::placeholder ,.support-chat-footer , .support-chat-footer input, .support-chat-footer input::placeholder, .support-chat-footer :focus, .support-chat-footer input:disabled {
    background-color:  var(--product-bg-color);
    border: none;
    color: var(--text-color);
}
.allCat , .allCat button{
  color: var(--text-color);
  background-color: var(--product-bg-color);
}
.headerSearchInput input:focus{
    color: var(--text-color);
    background-color: var(--product-bg-color);
}
.stock small{
  color: black;
}
.product-top{
  background-color: var(--bg-color);
}

i , small, a, span , strong{
  color:  var(--text-color);
}

.support-chat-toggle{
  border: var(--border-2);
}

.more , .more-button button{
  border: var(--border);
}

.button-div .btn:hover,
.button-div .btn:active,
.button-div .btn:focus {
  background-color: var(--bg-color) ;
  border: 1px solid var(--text-color);
  box-shadow: none ;
}


.button-div button{
  border: 1px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.main-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
}

.main-end{
  width: 100%;
  max-width: 95vw;
  margin: auto;
  min-height: 100vh;
}

.toggleDropDown {
  border: none;
  background-color: var(--product-bg-color);
  color: var(--product-color);
}
.subcategory-list-unstyled li, .subcategory-list-unstyled {
  border: none;
  background-color: var(--product-bg-color);
  color: var(--product-color);
}

.toggleDropDown:hover{
  background-color: var(--product-bg-color);
  color: var(--product-color);
}

@media (max-width: 925px) {
  .main-container{
    gap: 0px;
  }
}