.sidebar-container{
    position: relative;
    width: fit-content;
}

.status-message-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    position:fixed;
    z-index: 99999;
    width: auto;
    left: 50%;
    top: 5vw;
}

@media (max-width: 925px) {
    .sidebar-container{
        position: absolute;
        left: 0px;
        width: 80vw;
        transform: translateX(-700px); /**adjust x position with toggle functiopn */
        z-index: 999;
    }
    .sidebar-container.active{
        transform: translateX(0px);
    }
    .sidebar-background{
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: red;
        top: 0px;
        left: 0px;
        z-index: 990;
    }
    .sidebar-background.active{
        display: flex;
    }
    .status-message-container{
        left: 43%;
    }
}