.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; 
}

.more {
    border-radius: 25%;
    padding: 0px;
    background-color: none;
}

.product-container{
    display: flex;
    padding: 10px 15px;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    gap:25px;
}